.vagrant/
/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
.env.example
auth.json
package-lock.json
composer.lock
/public/mix-manifest.json
/public/css/
/public/js/
/public/fonts/
/packages
/storage/oauth-private.key
/storage/oauth-public.key
/docker/mysql/data/
.idea/
.DS_Store
.phpunit.result.cache
different-like-you-firebase-adminsdk-rcfx8-7ae49e9a66.json
/different-like-you-firebase-adminsdk-rcfx8-0f717d03a2.json
